<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\SentryQualityManagement.Api.dll" stdoutLogEnabled="false" hostingModel="InProcess" stdoutLogFile=".\logs\stdout">
       
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 3dac5bf5-d6ad-4596-a9be-ca741ac24b14-->